version: 2.1

orbs:
  node: circleci/node@5.3.0
  aws: circleci/aws-s3@3.0.0

jobs:
  deploy-json:
    docker:
      - image: cimg/node:20.9.0
    steps:
      - add_ssh_keys:
          fingerprints:
            - '7c:fc:21:ad:e5:d6:c3:a3:45:b9:48:a8:3f:ff:ae:70'
      - checkout
      - run: yarn install
      - run:
          name: Install dependencies
          command: ./scripts/install_dependencies.sh
      - run: ./scripts/deploy.sh
  run-eigen-tests:
    docker:
      - image: cimg/node:20.9.0
    steps:
      - checkout
      - run:
          name: Run eigen tests
          command: ./scripts/run_eigen_tests.sh

workflows:
  deploy:
    jobs:
      - deploy-json:
          filters:
            branches:
              only:
                - main
                - production
          context: echo
      - run-eigen-tests:
          requires:
            - deploy-json
          filters:
            branches:
              only:
                - main
                - production
          context: echo
